<html>
<head>
	<title>Add Link!</title>
	<link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>
<header>
</header>
<body>
</div id ="new-link">
		<h2> Add Bookmarks </h2>
			<form action="/add_link" method="post">
			  Url: <input name="url" type="text">
			  Title: <input name="title" type="text">
			  Description: <input name="description" type="text">
			  <input type="submit" value="Add link">
			</form>
	</div>
	<div>
			<h2> Current Bookmarks:</h2>
			<% @links.each do |link| %>
			<a href= "<%=link.url%>"> <%= link.title %> </a>
			<%end%>
</div>
</body>
</html>