<!DOCTYPE html> 
<html>
<head>
	<title>Bookmark Manager</title>
	<link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>
<header>
	<h1>Welcome to Bookmark Manager!</h1>
</header>
<body>
	<form action ='/add_link' method='post'>
		<button>Click to get started!</button>
</body>
</html>
