<html>
	<head>
		<title>Join FlagGo!</title>
		<link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
		<body>
			Please sign up
			<form action="/users" method="post">
			  Email: <input name="email" type="text">
			  Password: <input name="password" type="password">
			  <input type="submit" value="Sign up">
			</form>
		</body>
	</head>
</html>

